.modal-background {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-foreground {
    background-color: var(--color-secundario);
    padding: 20px;
    width: 500px;
}